/* body{
    background-color: black;
    color: #ffffff;
} */

.navbar-brand{
    font-size: 1.8rem;
}

.navbar-brand-title{
    margin-left: 0.7rem;
}

.nav-link{
    font-size: 1.2rem;
}

.table{
    margin-top: 4rem;
}

.paragraph{
    font-size: 1.5rem;
}

.about__title{
    margin-left: 1rem;
}